<div class="container-fluid p-1">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="page-not-found">
                <div class="message-container">
                  <h1>404</h1>
                  <h2>Page Not Found</h2>
                  <p>Sorry, the page you're looking for doesn't exist.</p>
                  <button class="btn btn-success" (click)="onGoToDashboard()">Go to Dashboard</button>
                </div>
            </div>              
        </div>
    </div>
</div>